mixin icon(name, className, fill, width, height)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none" fill=fill height=height width=width)
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)


mixin layers(path,className)
  img(src=require(`images/content/layers/${path}`) class=className)

mixin nav(mod, data)
 nav(class='navbar navbar--' + mod)
   ul.navbar__list
     each item in data
       li.navbar__item
         a(href="#").navbar__link #{item}